@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap");

* {
    max-width: 100vw;
}
.sub-section {
    margin-bottom: 60px;
}
.rb-card {
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.rb-card a {
    color: #515f6a;
}
.rb-card:hover {
    transform: scale(1.015);
}
.m-l-5 {
    margin-left: 5px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-t-60 {
    margin-top: 60px !important;
}
.b-t {
    border-top: 1px solid #e2e8ef;
}
.ellipsis {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.is-ellipsis-1 {
    -webkit-line-clamp: 1;
}
.is-ellipsis-2 {
    -webkit-line-clamp: 2;
}

.title {
    font-weight: 600;
}
.field.has-shadow-field {
    -webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
    box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
}
.subtitle {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.hero.is-light .subtitle,
.subtitle {
    color: #99a6b3;
}
.input {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
}
.input:invalid {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input:active,
.input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.button {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.button.is-shadowy {
    box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
    -webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
    -moz-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
}
.button.is-shadowy:hover {
    -webkit-box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
}
a {
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.navbar.is-transparent {
    background-color: transparent;
    background-image: none;
}

/*------ CSS General------*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.cards-plans:hover {
    border-radius: 20px;
    border: 3px solid #a333f5;
    color: #a333f5;
}

.cards-plans-small {
    border-radius: 20px;
    border: 1px solid #79717136;
}
#card-initial:hover {
    border-radius: 20px;
    border: 3px solid #a333f5;
}

.borderless-table {
    border: none !important;
}

.color-icon-table-check {
    color: #a333f5;
}

.color-primary {
    border-color: #5e26ce;
    color: #5e26ce;
}

.cards-plans {
    border-radius: 20px;
    border: 1px solid #79717136;
}

#card-initial:hover {
    border-radius: 20px;
    border: 3px solid #a333f5;
}

#btn-card-initial:hover {
    border-color: #a333f5;
    color: #a333f5;
}

.body-table {
    color: #8b8888;
}

#card-initial::before {
    content: "";
    display: block;
    width: 195px;
    height: 210px;
    background-image: url("../img/Ellipse 107.png");
    z-index: -1;
    position: absolute;
    left: -105px;
    top: 156px;
}

#card-plus::after {
    content: "";
    display: block;
    width: 204px;
    height: 210px;
    background-image: url("../img/Ellipse 103.png");
    z-index: -1;
    position: absolute;
    left: 220px;
    top: 345px;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 57px;
    line-height: 106.9%;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 900;
    font-size: 34.4186px;
    line-height: 106.9%;
    text-transform: uppercase;
}

h3 {
    font-size: 36px;
    line-height: 106.9%;
    text-align: left;
    color: #5e26ce;
    margin-bottom: 15px;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 106.9%;
}

p {
    font-size: 14px;
    line-height: 161.4%;
    margin-bottom: 15px;
}

p.subtitle {
    font-size: 16px;
    line-height: 143.4%;
}

p.grey {
    color: #7a8285;
}

p.bold {
    font-weight: bold;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.is-primary {
    color: #5e26ce !important;
}
.is-primary-gradient {
    color: #5e26ce;
    background: linear-gradient(223.26deg, #5e26ce -11.85%, #a333f5 114.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button.is-primary {
    background: linear-gradient(223.26deg, #5e26ce -11.85%, #a333f5 114.71%);
    color: #fff;
    -webkit-text-fill-color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 106.9%;
    letter-spacing: 0.04em;
}

.button-outline.is-primary {
    border: 1px solid #5e26ce;
    color: #5e26ce;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 32px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 106.9%;
    letter-spacing: 0.04em;
}

.button-link.is-primary {
    border: none;
    color: #5e26ce;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 32px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 106.9%;
    letter-spacing: 0.04em;
}

.button-link.is-primary.arrow::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
}

.is-primary-bg {
    background: #5e26ce;
}

.p-b-50 {
    padding-bottom: 50px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.is-white {
    background-color: #fff !important;
}

.is-green {
    color: rgb(0, 177, 134);
}

.is-red {
    color: rgb(242, 53, 108);
}
.is-pink {
    color: #BD67BF;
}


.background-gradient {
    background: linear-gradient(223.26deg, #5e26ce -11.85%, #a333f5 114.71%);
    width: 100%;
    padding: 20px 0;
}

.is-orange {
    color: #ec8068;
}
.is-page-title-resposive {
    font-size: calc(40px + (57 - 40) * ((100vw - 300px) / (1600 - 300)));
}
.is-title-resposive {
    font-size: calc(30px + (47 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.m-zero {
	margin: 0;
}
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

/*----- Custom Navbar -----*/

@media (max-width: 1023px) {
    .hero-head {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
    }
    .hero-head .navbar-menu.is-active {
        display: block;
        height: 100vh;
        background: linear-gradient(223.26deg, #5e26ce -11.85%, #a333f5 114.71%);
    }

    .hero-head .navbar-menu.is-active .navbar-end,
    .hero-head .navbar-menu.is-active .navbar-end .navbar-item a,
    .hero-head .navbar-menu.is-active .navbar-end,
    .hero-head .navbar-menu.is-active .navbar-end a {
        text-align: right;
        color: #fff !important;
    }

    .hero-head .navbar-menu.is-active .navbar-end,
    .hero-head .navbar-menu.is-active .navbar-end .navbar-item a.navbar-item:hover,
    .hero-head .navbar-menu.is-active .navbar-end,
    .hero-head .navbar-menu.is-active .navbar-end a.navbar-item:hover {
        color: #000 !important;
    }

    .hero-head .navbar-menu.is-active .navbar-end::after {
        content: "";
        width: 80%;
        height: 1px;
        background-color: #fff;
        display: block;
        margin: 10px 10%;
    }

    .hero-head .navbar-menu.is-active .navbar-buttons {
        display: flex;
        flex-direction: column;
    }

    .hero-head .navbar-menu.is-active .navbar-buttons .navbar-item {
        width: auto;
        text-align: right;
    }

    .hero-head .navbar-menu.is-active .navbar-buttons .navbar-item a {
        width: auto;
        text-align: right;
        background: transparent;
        font-size: 16px;
        padding: 0;
        text-transform: capitalize;
    }

    .hero-head .navbar-menu.is-active .navbar-buttons .navbar-item .button {
        font-weight: bold;
    }

    .hero-head .navbar-menu.is-active .navbar-buttons a {
        color: #fff !important;
    }
}

.navbar-buttons {
    display: flex;
}

/*------ Home main ------*/

.circles-main{
	background: url(../img/home-main-1.svg) 500% 100%/90% no-repeat,
	url(../img/home-main-3.svg) 10% 65%/30%  no-repeat;
	width: 100%;
}

.pc-img {
    background: url(../img/pc-home.png) 40% 90% no-repeat;
	width: 100%;
	height: 250px;
	background-size: 380px auto;
}

@media (min-width: 560px) {
	.pc-img {
		background: url(../img/pc-home.png) 50% 200% no-repeat;
		height: 370px;
		background-size: 600px auto;
	}

	.circles-main{
		background: url(../img/home-main-1.svg) 500% 100%/90% no-repeat,
		url(../img/home-main-3.svg) 10% 45%/30%  no-repeat;
		width: 100%;
	}
}
@media (min-width: 769px) {
	.pc-img {
		background: url(../img/pc-home.png) 50px 200% no-repeat;
		background-size: 450px auto;
		height: 290px;
	}
	.circles-main{
		background: url(../img/home-main-1.svg) 500% 80%/90% no-repeat,
		url(../img/home-main-2.svg) 10% 85%/5% no-repeat,
		url(../img/home-main-3.svg) 93% 5%/10%  no-repeat;
		width: 100%;
	}	
}
@media (min-width: 992px) {
	.pc-img {
		background-size: 550px auto;
		height: 350px;
	}
}
@media (min-width: 1216px) {
	.pc-img {
		background-size: 700px auto;
		height: 410px;
	}
}
@media (min-width: 1408px) {
	.pc-img {
		background-size: 840px auto;
		height: 470px;
	}
}

/*----- Card main -----*/

.info-card {
    width: 75%;
    overflow: visible;
    box-shadow: 0px 0.992436px 9.92436px rgba(112, 144, 176, 0.149);
    border-radius: 12.4054px;
    margin-bottom: 120px;
}

.info-card .card-content {
    width: 75%;
}

.info-card.img-right .image-box {
    width: 430px;
    height: 370px;
    background: #bd67bf;
    position: absolute;
    top: 10%;
    left: 75%;
    border-radius: 40px;
}

.info-card.img-right .image-box::after {
    content: url("../img/our-solutions/box1.png");
    left: -15%;
    position: relative;
    top: 30%;
}

.info-card.img-left {
    margin-left: auto;
}

.info-card.img-left .card-content {
    margin-left: 25%;
}

.info-card.img-left .image-box {
    width: 430px;
    height: 370px;
    background: #ec8068;
    position: absolute;
    top: 10%;
    right: 80%;
    border-radius: 40px;
}

.single-card {
    max-width: 550px;
    margin: auto;
    box-shadow: 0px 2px 20px rgba(112, 144, 176, 0.149);
    border-radius: 25px;
}

.single-card img {
    height: 280px;
}

.info-card.img-left .image-box::after {
    content: url("../img/our-solutions/box2.png");
    background-color: #fff;
    left: 20%;
    position: relative;
    top: 30%;
}

.items-list {
    margin: 35px 0;
}

.items-list .item {
    display: flex;
    margin: 15px 0;
}

.items-list .item .item-image {
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #eee;
    display: flex;
    width: 46px;
    height: 46px;
    padding: 10px;
    margin-right: 15px;
}

.items-list .item .item-image.a1::before {
    content: url("../img/card-icons/layout.svg");
}

.items-list .item .item-image.a2::before {
    content: url("../img/card-icons/activity-outline.svg");
}

.items-list .item .item-image.a3::before {
    content: url("../img/card-icons/clock-outline.svg");
}

.items-list .item .item-image.b1::before {
    content: url("../img/card-icons/pie-chart-outline.svg");
}

.items-list .item .item-image.b2::before {
    content: url("../img/card-icons/bell-outline.svg");
}

.items-list .item .item-title {
    font-size: 14px;
    line-height: 161%;
    font-weight: bold;
    margin-bottom: 3px;
}

.items-list .item .item-description {
    font-size: 12px;
    line-height: 148.9%;
}

.card.rb-card.is-green {
    border-top: 30px solid #69bc8b;
}

.card.rb-card.is-blue {
    border-top: 30px solid #74abd1;
}

@media (max-width: 991px) {
    .info-card,
    .info-card .card-content {
        width: 100%;
    }

    .info-card.img-right,
    .info-card.img-left {
        margin-top: 50px;
        padding-top: 50px;
    }
    .info-card.img-right::after {
        background-size: 200px 170px;
        display: inline-block;
        width: 200px;
        height: 170px;
        content: "";
        background-image: url("../img/our-solutions/box1.png");
        position: absolute;
        top: -100px;
        left: 0px;
    }

    .info-card.img-left::after {
        background-size: 150px 200px;
        display: inline-block;
        width: 150px;
        height: 200px;
        content: "";
        background-image: url("../img/our-solutions/box2.png");
        position: absolute;
        top: -120px;
        left: 30px;
    }

    .info-card.img-left .card-content {
        margin-left: 0;
    }

    .info-card.img-right .image-box,
    .info-card.img-left .image-box {
        top: -5%;
        left: -30%;
        z-index: -1;
    }

    .info-card.img-right .image-box::after,
    .info-card.img-left .image-box::after {
        content: "";
    }

}

@media (min-width: 992px) {
	.info-card.img-right .image-box {
		background: #bd67bf url(../img/our-solutions/circle-box-1.svg) 280px 0px/30% no-repeat;
	}
	
	.info-card.img-left .image-box {
		background: #ec8068 url(../img/our-solutions/circle-box-2.svg) 10px 0%/35% no-repeat;
	}
}

/* --------
Testimony section styles
 -------- */

 .container-testimonials {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0;
    flex-wrap: wrap;
    position: relative;
}

.container-testimonials::after {
    content: "";
    width: 2px;
    height: 500px;
    background-color: #aab3b7;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 50%;
}

.testimony.right {
    position: relative;
    top: 10%;
}

.testimony {
    width: 50%;
    display: block;
    position: relative;
    margin: 50px 0;
	top: -40px;
}

.testimony .card {
    max-width: 460px;
	width: 390px;
    height: 210px;
    margin: auto;
    padding: 40px 20px 0;
    overflow: visible;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 25px;
}

.testimony .card::after {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -15%;
    left: 10%;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #5e26ce;
    width: 50px;
    height: 50px;
    padding-top: 5px;
}

.testimony.left::after {
    right: 5%;
}

.testimony.right::after {
    left: 5%;
}

.testimony::after {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    color: #5e26ce;
    font-weight: bold;
    position: absolute;
    top: 50%;
    font-size: 0.5rem;
}
@media (max-width: 991px) {
	.testimony {
		width: 100%;
		z-index: 1;
		top: 0;
		margin: 30px 0;
	}

	.testimony .card {
		padding: 10px 10px;
		width: auto;
		height: auto;
	}

	.container-testimonials::after {
		z-index: 0;
		height: 950px;
		left: 28%;
	}

	.testimony.left::after, .testimony.right::after {
		content: "";
	}
}
/* --------
Why we? styles
 -------- */
.why-we {
	padding: 9rem 0;
}
.why-we .background-gradient {
	margin: 30px 0;
	padding: 70px 0;
	position: relative;
	z-index: -1;
}

.why-we .background-gradient h2 {
    font-size: 72px;
    text-align: center;
    color: #fff;
}

.why-we .background-gradient h4 {
    color: #fff;
}

.why-we .references .amount {
    position: relative;
}
.why-we .references .amount {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 75.7843px;
    line-height: 106.9%;
    text-align: center;
    color: #3b3b44;
    height: 95px;
}

.why-we .references.line::before {
    content: "";
    width: 2px;
    height: 135px;
    background-color: #3b3b44;
    display: block;
    border-radius: 50%;
    position: absolute;
}

.why-we .references .amount span.small-letters {
    font-size: 32.24px;
}

.why-we .references p.bold {
    margin-top: 15px;
    margin-left: 10px;
}

.why-we .why-we-circles {
	background: url(../img/why-we-1.svg) 100% 55%/10% no-repeat,
	url(../img/why-we-2.svg) 20% 15%/15% no-repeat,
	url(../img/why-we-3.svg) 0% 60%/20% no-repeat, 
	url(../img/why-we-4.svg) 115% -80px/40% no-repeat;
}

@media (max-width: 768px) {
	.why-we .references.line::before {
		content: "";
		width: 40%;
		height: 2px;
		background-color: #3b3b44;
		display: block;
		border-radius: 50%;
		position: relative;
		left: 30%;
		right: 30%;
		margin-bottom: 20px;
	}
	.why-we .references .amount {
		font-size: 74px;
	}

	.why-we .why-we-circles {
		background: url(../img/why-we-2.svg) -10% 25%/20% no-repeat, 
		url(../img/why-we-3.svg) 130% 25%/40% no-repeat;
	}
}

@media (min-width: 769px) {
	.why-we .why-we-circles {
		background: url(../img/why-we-1.svg) 100% 55%/15% no-repeat,
		url(../img/why-we-2.svg) 20% 15%/15% no-repeat,
		url(../img/why-we-3.svg) 0% 60%/20% no-repeat, 
		url(../img/why-we-4.svg) 115% -25%/40% no-repeat;
	}
}
@media (max-width: 991px) {
	.why-we .background-gradient h2 {
		font-size: 64px;
	}

	.why-we .references .amount {
		font-size: 74px;
	}
}

@media (min-width: 1216px) {
	.why-we .why-we-circles {
		background: url(../img/why-we-1.svg) 100% 55%/10% no-repeat,
		url(../img/why-we-2.svg) 20% 20%/10% no-repeat,
		url(../img/why-we-3.svg) 5% 60%/15% no-repeat,
		url(../img/why-we-4.svg) 110% -75px/30% no-repeat
	}
}
@media (min-width: 1408px) {
	.why-we .why-we-circles {
		background: url(../img/why-we-1.svg) 100% 55%/8% no-repeat,
		url(../img/why-we-2.svg) 20% 20%/8% no-repeat,
		url(../img/why-we-3.svg) 5% 60%/12% no-repeat,
		url(../img/why-we-4.svg) 90% -50px/20% no-repeat;
	}
}

/* --------
Faq section styles
 -------- */
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 25px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    border-radius: 10px 10px 10px 10px;
}
.active,
.accordion:hover {
    background-color: #eee;
}
.panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}
.accordion:after {
    content: "\2228";
    font-size: 13px;
    float: right;
    margin-left: 5px;
    color: #000;
    font-weight: 500;
}
.active:after {
    content: "\2227";
    color: #000;
    font-weight: 500;
}

/* --------
Plans section styles
	-------- */

table thead th {
    text-align: center !important;
    height: 60px;
    vertical-align: middle !important;
    border: none !important;
}

table thead th:first-child {
    background-color: #fff;
}

table thead th:not(:first-child) {
    background-color: rgb(240, 245, 248);
}

table thead th:not(:first-child),
table thead th:not(:last-child) {
    border-right: 10px solid #fff !important;
}

table tbody th {
    font-size: 14px;
}

table td {
    width: 120px;
    font-size: 12px;
    vertical-align: middle !important;
}

table td.subtitle {
    background-color: rgb(240, 245, 248);
    font-size: 14px;
    font-weight: bold;
}

table td i {
    font-size: 14px;
}
/* --------
Footer section styles
	-------- */

footer {
    background-color: #130429;
    color: #fff;
    padding-top: 50px;
}

footer a {
    display: block;
    color: #fff;
    font-size: 16px;
}

footer .is-black {
    background-color: #000;
}

footer p {
    margin: 0;
}

footer p.copyright {
    color: #fff;
    font-size: 8px;
    margin: 0;
}

footer .footer-qr-image {
    background-image: url("../img/footer-qr.png");
    width: auto;
    height: 40px;
}

footer .social-media a {
    display: inline-block;
    margin-right: 15px;
}
footer .columns {
    margin: 0;
}

@media (max-width: 768px) {
    footer .mobile-screen {
        margin-left: 30px;
    }
    footer .mobile-screen a,
    footer .mobile-screen p {
        font-size: 12px;
        padding: 8px 0;
    }
}

/* --------
About Us section styles
	-------- */

.ellipse-1 {
    position: absolute;
    top: 0;
    right: calc(15px + (50 - 15) * ((100vw - 1000px) / (1600 - 1000)));
    max-width: calc(50px + (200 - 50) * ((100vw - 300px) / (1600 - 300)));
}
.ellipse-2 {
    position: absolute;
    top: calc(130px + (650 - 130) * ((100vw - 300px) / (1600 - 300)));
    left: calc(15px + (50 - 15) * ((100vw - 1000px) / (1600 - 1000)));
    max-width: calc(50px + (200 - 50) * ((100vw - 300px) / (1600 - 300)));
}
.shadow-column {
    background-color: #130429;
    position: absolute;
    width: 100vw;
    margin: 0 -2em;
    bottom: -10%;
    height: 40%;
    max-height: 30vh;
}

.intro-video {
    width: 100%;
    z-index: 1;
    position: relative;
    border: 1.5em solid #ffffff;
    box-shadow: 0px 10px 30px rgb(112 144 176 / 30%);
    border-radius: 25px;
    background-color: #ffffff;
}
.intro-video iframe.yt-video {
    border-radius: 12.5px;
    margin-bottom: -7.5px;
    max-height: 50vw;
}
.work-with-us {
    color: #ffffff;
    background: linear-gradient(223.26deg, #5e26ce -11.85%, #a333f5 114.71%);
}
.work-with-us .area-email {
    border-color: #ffffff;
    background: transparent;
    border-radius: 2em;
    color: #ffffff;
    border: 3px solid;
    font-size: 13px;
    padding: 0.5em 1em;
}

/* --------
Digital salary section styles
	-------- */

.digital-salary.hero-division {
    border-bottom: 30px solid #74abd1;
}

.hero-division-green {
    border-bottom: 30px solid #69bc8b;
}

.card.rb-card.is-pink {
    border-top: 30px solid #bd67bf;
}
.card.rb-card.is-orange {
    border-top: 30px solid #ec8068;
}
/* --------
Payments and collections section styles
	-------- */
.payments-and-collections.hero-division {
    border-bottom: 30px solid #ec8068;
}
.features-list-primary li:before {
    content: "• ";
    color: #a333f5;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: 4px;
}

.features-list-orange li:before {
    content: "• ";
    color: #ec8068;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    top: 4px;
}
.payments-and-collections-ellipse-1 {
    background-image: url("/img/payments-and-collection/ellipse-1.png") !important;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100%;
    background-size: calc(150px + (200 - 150) * ((100vw - 300px) / (1600 - 300)));
}
.payments-and-collections-ellipse-2 {
    background-image: url("/img/payments-and-collection/ellipse-2.png") !important;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: calc(150px + (200 - 150) * ((100vw - 300px) / (1600 - 300)));
}

.payments-and-collections-ellipse-3 {
    background-image: url("/img/payments-and-collection/ellipse-3.png") !important;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: calc(150px + (200 - 150) * ((100vw - 300px) / (1600 - 300)));
}

.banks-slide {
    align-items: center;
    background-color: #666;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
}
/* --------
Electronic billings tyles
	-------- */
	.card-icon.card {
		margin-top: 40px;
		padding: 40px 20px 0;
		overflow: visible;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
		border-radius: 25px;
	}
	
	.card-icon.card.plus-info::after {
		top: -20%;
	}

	.card-icon.card::after {
		content: "";
		position: absolute;
		top: -35%;
		left: 10%;
		width: 99px;
		height: 100px;
		box-shadow: 0px 2px 20px rgba(112, 144, 176, 0.149);
		border-radius: 25px;
		background-color: #fff;
		padding-top: 5px;
	}

	.card-icon.card .card-content {
		display: flex;
		flex-direction: column;
	}
	
	.card-icon.card .card-content.multiple {
		flex-direction: row;
	}
	.card-icon.card .card-content .title {
		padding-top: 30px;
		width: 50%;
	}

	.card-icon.card .card-content .description {
		width: 50%;
	}

	.card-icon.card.people-outline-pink::after {
		background: #fff url(../img/icons/people-outline-3.png) 50%/70% no-repeat;
	}
	
	.card-icon.card.calendar-outline-pink::after {
		background: #fff url(../img/icons/calendar-outline-3.png) 50%/70% no-repeat;
	}
	
	.card-icon.card.credit-card-outline::after {
		background: #fff url(../img/icons/credit-card-outline-3.png) 50%/70% no-repeat;
	}
	
	.card-icon.card.code-outline::after {
		background: #fff url(../img/icons/code-outline-3.png) 50%/70% no-repeat;
	}

	.card-icon.card.people-outline::after {
		background: #fff url(../img/icons/people-outline.svg) 50%/70% no-repeat;
	}

	.card-icon.card.pencil-outline::after {
		background: #fff url(../img/icons/pencil-outline.svg) 50%/70% no-repeat;
	}

	.card-icon.card.award-outline::after {
		background: #fff url(../img/icons/pencil-outline.svg) 50%/70% no-repeat;
	}

	.card-icon.card.archive-outline::after {
		background: #fff url(../img/icons/archive-outline.svg) 50%/70% no-repeat;
	}

    .card-icon.card.copy-blue::after {
		background: #fff url(../img/icons/copy-blue.svg) 50%/70% no-repeat;
	}

	.card-icon.card.archive-blue::after {
		background: #fff url(../img/icons/archive-blue.svg) 50%/70% no-repeat;
	}

	.card-icon.card.edit-blue::after {
		background: #fff url(../img/icons/edit-blue.svg) 50%/70% no-repeat;
	}

    .card-icon.card.smiling-orange::after {
		background: #fff url(../img/icons/smiling-orange.svg) 50%/70% no-repeat;
	}

    .card-icon.card.check-orange::after {
		background: #fff url(../img/icons/check-orange.svg) 50%/70% no-repeat;
	}

    .card-icon.card.copy-orange::after {
		background: #fff url(../img/icons/copy-orange.svg) 50%/70% no-repeat;
	}
	
	/* --------
Digital bank section styles
	-------- */
.digital-bank {
	position: relative;
}

.digital-bank .screen {
	height: 250px;
}

.add-block {
	height: 300px;
	display: block;
}

.digital-bank .screen::after {
	content: "";
	background: url("../img/digital-bank/screen.png") center no-repeat;
	position: absolute;
	height: 550px;
	display: block;
	z-index: 999;
	top: 200px;
	width: 100%;
}

.digital-bank.hero-division {
    border-bottom: 30px solid #bd67bf;
}

.bank-img{
    height: 70px;
}

.card-cotainer{
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    padding: 25px;
    box-shadow: 0px 0px 20px #eee;
}



/*
Menu
***/
/*
body {
    margin: 0;
    box-sizing: border-box;
}
  
#app {
    color: #2c3e50;
    background-color: #ccd6dd;
    height: 120vh;
}
  
a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 1vw;
}
  
a:hover {
    transition: linear 100ms;
    color: red;
}

.nav {
    transition: 100ms;
    padding: 25px;
}
  
.sticky-nav{
    transition: 100ms;
    padding: 20px;
}
  
#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #55acee;
    position: fixed;
    top: 0;
}
  
#nav.sticky{
    transition: 150ms;
    box-shadow: 0px 15px 10px -15px #111;
    background-color:  #ccd6dd;
}
*/

