@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');

.sub-section {
	margin-bottom: 60px;
}
.rb-card {
	border: none;
	border-radius: 4px;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.13);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.rb-card a {
	color: #515f6a;
}
.rb-card:hover {
	transform: scale(1.015);
}
.m-l-5 {
	margin-left: 5px !important;
}
.p-t-30 {
	padding-top: 30px !important;
}
.p-b-30 {
	padding-bottom: 30px !important;
}
.m-t-10 {
	margin-top: 10px !important;
}
.m-t-30 {
	margin-top: 30px !important;
}
.m-t-50 {
	margin-top: 50px !important;
}
.m-t-60 {
	margin-top: 60px !important;
}
.b-t {
	border-top: 1px solid #e2e8ef;
}
.ellipsis {
	display: block;
	display: -webkit-box;
	margin: 0 auto;
	line-height: 1.4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.is-ellipsis-1 {
	-webkit-line-clamp: 1;
}
.is-ellipsis-2 {
	-webkit-line-clamp: 2;
}

.title {
	font-weight: 600;
}
.field.has-shadow-field {
	-webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
	box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25) !important;
}
.subtitle {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
}
.hero.is-light .subtitle,
.subtitle {
	color: #99a6b3;
}
.input {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
}
.input:invalid {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input:active,
.input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.button {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
}
.button.is-shadowy {
	box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
	-webkit-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
	-moz-box-shadow: 0 5px 30px hsla(224, 8%, 64%, 0.25);
}
.button.is-shadowy:hover {
	-webkit-box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 43px 2px rgba(0, 0, 0, 0.2);
}
a {
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
.navbar.is-transparent {
	background-color: transparent;
	background-image: none;
}


/*------ CSS General------*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 57px;
	line-height: 106.9%;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}

h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 106.9%;
}

p {
	font-size: 16px;
	line-height: 143.4%;
}

p.bold {
	font-weight: bold;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}

.is-primary {
	color: #5E26CE;
}

.is-primary-bg {
	background: #5E26CE;
}

.p-b-50 {
	padding-bottom: 50px;
}

/*----- Card main -----*/

.item {
    display: flex;
	margin: 15px 0;
}

.item .item-image {
    background: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #EEE;
    display: flex;
    width: 46px;
    height: 46px;
    padding: 10px;
    margin-right: 15px;
}

.item .item-title {
    font-size: 14px;
    font-weight: bold;
}

.item .item-description {
    font-size: 12px;
}

.card.rb-card.is-green {
    border-top: 30px solid #69BC8B;
}

.card.rb-card.is-blue {
    border-top: 30px solid #74ABD1;
}
/* --------
Faq section styles
 -------- */ 
 .accordion {
	 background-color: #eee;
	 color: #444;
	 cursor: pointer;
	 padding: 18px;
	 width: 100%;
	 text-align: left;
	 border: none;
	 outline: none;
	 transition: 0.4s;
	 border-radius: 10px 10px 0px 0px;
}
.active, .accordion:hover {
	background-color: #ccc;
}
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 30px;
}
.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2796";
}
	
/* --------
Footer section styles
	-------- */ 

footer {
	background-color: #130429;
	color: #fff;
	padding-top: 50px;
}

footer a {
	display: block;
	color: #fff;
	font-size: 16px;
}

footer .is-black {
	background-color: #000;
}

footer p.copyright {
	color: #fff;
	font-size: 8px;
}

footer .is-white {
	background-color: #fff;
}

footer .footer-qr-image {
	background-image: url('../img/footer-qr.png');
	width: auto;
	height: 40px;
}

footer .social-media a {
    display: inline-block;
    margin-right: 15px;
}